@model IceCreamClient.Models.Member

@{
    ViewData["Title"] = "ChangePassword";
}
<!--Page Title-->
        <section class="page-title centred" style="background-image: url(/assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Change Password</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>Change your password</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->

                    


<section class="ourmenu-section sec-pad">
    <div class="auto-container">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="ChangePassword" method="post">
                    @if (TempData["ChangePassError"] != null)
                    {
                    <div style="color:red;">@TempData["ChangePassError"]</div>
                    }
                    @if(TempData["ChangePassSuccess"] != null)
                    {
                    <div style="color:green;">@TempData["ChangePassSuccess"]</div>
                    }
                    <div class="form-group">
                        <label class="control-label">Old Password </label>
                        <input Name="OldPassword" class="form-control" type="password"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">New Password</label>
                        <input Name="NewPassword1" class="form-control" type="password" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Re-Enter New Password </label>
                        <input Name="NewPassword2" class="form-control" type="password"/>
                    </div>           
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

