
@{
    ViewData["Title"] = "About Us";
}

<!--Page Title-->
        <section class="page-title centred" style="background-image: url(/assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>About Us</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- ourstory-style-three -->
        <section class="ourstory-style-three">
            <div class="auto-container">
                <div class="row align-items-center clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div id="content_block_3">
                            <div class="content-box">
                                <div class="sec-title">
                                    <p>Our Story</p>
                                    <h2>Modern Ice-cream Shop Since 1970</h2>
                                </div>
                                <div class="text">
                                    <p>From a humble ice cream trolley, our journey began in 1970 and our ice cream business is now one of the best treat in town.
                                        After 5 years, our regconition grew fast and we made our way into stores and online selling </p>
                                </div>
                                <figure class="signature"><img src="~/assets/images/icons/signature-1.png" alt=""></figure>
                                <div class="btn-box">
                                    <a asp-controller="Home" asp-action="contact" class="theme-btn-one">Contact Us</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div id="image_block_1">
                            <div class="image-box">
                                <div class="bg-layer" style="background-image: url(/assets/images/shape/bg-layer-1.png);"></div>
                                <figure class="image image-1"><img src="~/assets/images/resource/story-2.jpg" alt=""></figure>
                                <div class="video-inner">
                                    <a href="https://www.youtube.com/watch?v=MdirPsiHnCAs;t=28s" class="lightbox-image video-btn" data-caption=""><i class="icon-Video"></i></a>
                                    <h3>Watch Real Video</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ourstory-style-three end -->


        <!-- ourhistory-section -->
        <section class="ourhistory-section sec-pad" style="background-image: url(/assets/images/background/history-1.jpg);">
            <div class="auto-container">
                <div class="sec-title centred">
                    <p>Our History</p>
                    <h2>Learn More About <br />Bagery</h2>
                </div>
                <div class="inner-content">
                    <div class="line-box">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-12 col-sm-12 inner-column">
                            <div class="inner-box">
                                <figure class="image-box mb-130"><img src="~/assets/images/resource/history-1.jpg" alt=""></figure>
                                <div class="content-box mb-130">
                                    <span class="year">2000</span>
                                    <h3>A First Taste <br />Coming to</h3>
                                    <p>Our ice cream uses the best ingredients, and it is produced with fresh and local milk. 
                                        Not only does the ice cream shop sell more than 50 flavors that you can buy in tubs, but we also sells books and recipes to make them</p>
                                </div>
                                <figure class="image-box mb-130"><img src="~/assets/images/resource/history-2.jpg" alt=""></figure>
                                <div class="content-box">
                                    <span class="year">2019</span>
                                    <h3>Pastry is Different from <br />Ice cream</h3>Besides milk, We offers the widest variety of dairy-free, vegan, sugar-free, and gluten-free ice cream & dessert products on the market, and you can buy a pint for only $5.99. 
                                    If you are on the keto diet and looking for a frozen treat that is low in carbs, high in fat, and has no added sugar, then you definitely need our ice cream in your life.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 offset-lg-2 inner-column">
                            <div class="inner-box">
                                <div class="content-box mb-130">
                                    <span class="year">1990</span>
                                    <h3>We make the best possible ice cream in the best possible way <br />February of 1990</h3>
                                    <p>Ice cream that respects the farmer and their farmworkers, the planet and the cow.</p>
                                </div>
                                <figure class="image-box mb-130"><img src="~/assets/images/resource/history-3.jpg" alt=""></figure>
                                <div class="content-box mb-130">
                                    <span class="year">2010</span>
                                    <h3>Our Morning Shift Started <br />in 2010</h3>
                                    <p>Our ice cream is made with hyper care, extra hygene and safety, 100% natural, cruelty free products.</p>
                                </div>
                                <figure class="image-box"><img src="~/assets/images/resource/history-4.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- ourhistory-section end -->


        <!-- clients-section -->
        <section class="clients-section bg-color-1">
            <div class="auto-container">
                <div class="auto-container">
                    <div class="clients-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
                        <figure class="clients-logo-box"><img src="~/assets/images/clients/clients-logo-1.png" alt=""></figure>
                        <figure class="clients-logo-box"><img src="~/assets/images/clients/clients-logo-2.png" alt=""></figure>
                        <figure class="clients-logo-box"><img src="~/assets/images/clients/clients-logo-3.png" alt=""></figure>
                        <figure class="clients-logo-box"><img src="~/assets/images/clients/clients-logo-4.png" alt=""></figure>
                        <figure class="clients-logo-box"><img src="~/assets/images/clients/clients-logo-5.png" alt=""></figure>
                        <figure class="clients-logo-box"><img src="~/assets/images/clients/clients-logo-6.png" alt=""></figure>
                    </div>
                </div>
            </div>
        </section>
        <!-- clients-section end -->


        <!-- service-section -->
        <section class="service-section sec-pad centred" style="background-image: url(/assets/images/background/service-1.jpg);">
            <div class="auto-container">
                <div class="sec-title">
                    <p>Services</p>
                    <h2>Quality & Passion with <br />our Services!</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <div class="icon-box wow fadeInDown animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <div class="bg-layer" style="background-image: url(/assets/images/icons/icon-bg-3.png);"></div>
                                    <i class="icon-Ice-Cream"></i>
                                </div>
                                <div class="lower-content wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                                    <h3><a href="service.html">Ice Cream</a></h3>
                                                                   
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <div class="icon-box wow fadeInDown animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                                    <div class="bg-layer" style="background-image: url(/assets/images/icons/icon-bg-3.png);"></div>
                                    <i class="icon-Cake"></i>
                                </div>
                                <div class="lower-content wow fadeInUp animated animated" data-wow-delay="400ms" data-wow-duration="1500ms">
                                    <h3><a href="service.html">Dessert</a></h3>
                                 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <div class="icon-box wow fadeInDown animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <div class="bg-layer" style="background-image: url(/assets/images/icons/icon-bg-3.png);"></div>
                                    <i class="icon-Bread"></i>
                                </div>
                                <div class="lower-content wow fadeInUp animated animated" data-wow-delay="200ms" data-wow-duration="1500ms">
                                    <h3><a href="service.html">Recipe</a></h3>
                                  
                                </div>
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-lg-3 col-md-6 col-sm-12 service-block">
                        <div class="service-block-one">
                            <div class="inner-box">
                                <div class="icon-box wow fadeInDown animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <div class="bg-layer" style="background-image: url(/assets/images/icons/icon-bg-3.png);"></div>
                                    <i class="icon-Donuts"></i>
                                </div>
                                <div class="lower-content wow fadeInUp animated animated" data-wow-delay="600ms" data-wow-duration="1500ms">
                                    <h3><a href="service.html">Book</a></h3>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- service-section end -->


        <!-- team-section -->
        <section class="team-section sec-pad centred">
            <div class="auto-container">
                <div class="sec-title">
                    <p>Team</p>
                    <h2>Quality & Passion with <br />our Services!</h2>
                </div>
                <div class="row clearfix">
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="~/assets/images/team/team-1.jpg" alt="">                                 
                                </figure>
                                <div class="lower-content">
                                    <div class="pattern-layer" style="background-image: url(/assets/images/shape/shape-19.png);"></div>
                                    <h3>Ralph Johnson</h3>
                                    <span class="designation">Ice-Cream Chef</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="~/assets/images/team/team-2.jpg" alt="">
                                </figure>
                                <div class="lower-content">
                                    <div class="pattern-layer" style="background-image: url(/assets/images/shape/shape-19.png);"></div>
                                    <h3>Fiona Edwards</h3>
                                    <span class="designation">Pastry Chef</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 team-block">
                        <div class="team-block-one">
                            <div class="inner-box">
                                <figure class="image-box">
                                    <img src="~/assets/images/team/team-3.jpg" alt="">
                                </figure>
                                <div class="lower-content">
                                    <div class="pattern-layer" style="background-image: url(/assets/images/shape/shape-19.png);"></div>
                                    <h3>Tom Knolltonns</h3>
                                    <span class="designation">Dessert Chef</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- team-section end -->

