
@{
    ViewData["Title"] = "Faq";
}

<!--Page Title-->
        <section class="page-title centred" style="background-image: url(/assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>FAQ</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li>FAQ</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- faq-section -->
        <section class="faq-section sec-pad" style="background-image: url(/assets/images/background/faq-1.jpg);">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div id="content_block_4">
                            <div class="content-box">
                                <div class="sec-title">
                                    <p>FAQ’s</p>
                                    <h2>Modern Ice Cream Shop Since 1970</h2>
                                </div>
                                <div class="text">
                                    <p>Our goal each day is to ensure that our residents’ needs are not only met but exceeded. To make that happen we are committed to providing an environment in which residents can enjoy a wide range of amenities that</p>
                                    <p>Allow them to feel independent safe and secure all while having fun! Our amenities include.</p>
                                </div>
                                <div class="btn-box">
                                    <a asp-controller="Home" asp-action="Contact" class="theme-btn-one">Have A Question?</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                        <ul class="accordion-box">
                            <li class="accordion block">
                                <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>How long would Ice-cream keep in the freezer?</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>The short answer is:</p>
                                        <h4>I've kept homemade ice cream in my freezer for months and still enjoyed it.</h4>
                                        <p>The long answer:</p>
                                        <ul class="list clearfix">
                                            <li>Freezers' freeze-thaw cycles (basically, temperature fluctuations) slowly affect the consistency/iciness of homemade ice cream.</li>
                                            <li>Which is to say, homemade ice cream is theoretically better sooner rather than later.</li>
                                            <li>So, you could make it now, serve it on Thanksgiving, and it would be great.</li>
                                            <li>Or you could make it in a week or another week.</li>
                                            <li>Really, whatever's best with your schedule! (Either way, just make sure to let it sit out for a few minutes before serving, so it's easily scoopable.)</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block active-block">
                                <div class="acc-btn active">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>How do I keep my ice cream from freezing too fast ?</h4>
                                </div>
                                <div class="acc-content current">
                                    <div class="text">
                                        <p>By the way, this is probably a function of your freezer temperature, not the machine- you could leave the bowl out for a while to slow it down, but there's the risk of getting it too warm, in which case your ice cream won't freeze at all.</p>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                 <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>How many yolks to add into a dairy free ice cream recipe?</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>I generally use whole eggs in my ice cream, whether they are dairy free or not.</p>
                                        <h4>2 whole eggs for 4 cups of liquid.</h4>
                                        <p>Your recipe having only 2 cups of liquid sounds like you will end up with quite a small amount of ice cream.</p>
                                        <ul class="list clearfix">
                                            <li>I would recommend whisking the egg yolks in with the sugar,</li>
                                            <li>then stirring that mixture constantly,</li>
                                            <li>dribble in the hot milk until the egg mixture is warm.</li>
                                            <li>Otherwise you are apt to end up with scrambled eggs.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                 <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>How Long Does Ice Cream Last?</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p> Oddly, I never gave it much thought since it doesn’t seem to linger too long around here.</p>
                                        <h4>So I looked around and found the answer at the FDA website: 2-4 months.</h4>
                                        <p>The most common problem when ice creams and other frozen desserts spend too long in the freezer is the texture changes and if not covered properly (ideally with plastic wrap on the surface, then covered with a lid), they can get icy and pick up other flavors from the freezer.</p>
                                        <ul class="list clearfix">
                                            <li> If they do get icy, most sorbets and sherbets can be melted down and re-churned, as can Philadelphia-style ice creams made without eggs.</li>
                                            <li>But I find custard-based ice creams don’t re-freeze as successfully, so don’t let those sit around too long.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                 <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>Recipes To Use Up Leftover Egg Whites?</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p> Frequently, bakers and ice cream-lovers will find themselves with a few too many egg whites.</p>
                                        <h4>So what to do with all of them?</h4>
                                        <p>If you’re not sure what to do with them right away, egg whites can be frozen. 
                                            I usually freeze them in specific quantities (i.e.; 1 cup), and label them as such, since there’s nothing more infuriating than needing 1 cup of egg whites and trying to chip that away from a frozen-solid block in the freezer.</p>
                                        <ul class="list clearfix">
                                            <li>Some folks devote ice cube trays to egg whites, slipping one in each indentation so they know exactly how many they have.</li>
                                            <li> Just so you know, one large egg white is about 2 tablespoons and weighs 25 grams. </li>
                                            <li>  I often freeze the whites in plastic containers, then slip them out of the containers, once frozen, then wrap them in plastic and secure them in zip-top freezer bags – with the quantity and date written on the outside.</li> 
                                            <li> But if you’d like to use them fresh, or use frozen ones that you’ve defrosted, here are some favorite recipes.</li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="accordion block">
                                 <div class="acc-btn">
                                    <div class="icon-outer"><i class="icon-Plus"></i></div>
                                    <h4>Tips on How to Make Ice Cream: Questions & Answers</h4>
                                </div>
                                <div class="acc-content">
                                    <div class="text">
                                        <p>For a number of years, this forum has been a place to ask questions about ice cream making.</p>
                                        <h4>However after hundreds of questions, everything that could be asked and answered about ice cream making has been said. So comments have been closed and if you have a question, you can use the search feature on your browser to scan the comments.</h4>
                                        <p> I’ve learned a lot listening to you about ice cream making and am thrilled that so many of you have taken up the task of churning up ice cream and sorbets at home. Thanks for participating in this forum!</p>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <!-- faq-section end -->


        
