@model IceCreamClient.Models.BookIceCream

@{
    ViewData["Title"] = "CreateBook";
    List<Category> categories = TempData["ListCate"] as List<Category>;
}

<!-- page title area start -->
<div class="page-title-area">
    <div class="row align-items-center">
        <div class="col-sm-6">
            <div class="breadcrumbs-area clearfix">
                <ul class="breadcrumbs pull-left">
                    <li><a asp-action="ShowBooks" asp-controller="Book">Book</a></li>
                    <li><span>Books</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- page title area end -->
<div class="main-content-inner">
    <div class="row">
        <!-- data table start -->
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <h3 class="header-title">Create a new Book</h3>
                    <div>
                        <h4 style="text-align:center">Form Create</h4>
                        <hr />
                        <div class="row">
                            <div class="col-md-12   ">
                                @if (ViewData["success"] != null)
                                {
                                    <h4 style="color:forestgreen">@ViewData["success"]</h4>
                                }
                                @* Upload Image phải có enctype="multipart/form-data" *@
                                <form asp-action="CreateBook" enctype="multipart/form-data">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="form-group">
                                        <label asp-for="CatId" class="control-label">Category</label>
                                        <select asp-for="CatId" class="form-control" style="height:fit-content">
                                            @foreach (var item in categories)
                                            {
                                                <option value="@item.CatId">@item.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Title" class="control-label"></label>
                                        <input asp-for="Title" class="form-control" />
                                        <span asp-validation-for="Title" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Author" class="control-label"></label>
                                        <input asp-for="Author" class="form-control" />
                                        <span asp-validation-for="Author" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Description" class="control-label"></label>
                                        <textarea asp-for="Description" id="Description" class="form-control"></textarea> @*must using textarea, not input to fix null*@
                                        <span asp-validation-for="Description" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Price" class="control-label"></label>
                                        <input type="number" asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Image" class="control-label"></label>
                                        <input type="file" asp-for="Image" name="Image" class="form-control" />
                                        <span asp-validation-for="Image" class="text-danger"></span>
                                    </div>
                                    <div class="form-group">
                                        <label asp-for="Active" class="control-label"></label>
                                        <select asp-for="Active" class="form-control" style="height:fit-content">
                                            <option value="true" selected>Yes</option>
                                            <option value="false">No</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" asp-for="CreateAt" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Create" class="btn btn-primary" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div>
                        <a asp-action="ShowBooks">Back to List Books</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- data table end -->
    </div>
</div>
<!-- main content area end -->

@* CKEDITOR *@
@section Scripts {
    <script src="/Admin/Data/ckeditor/ckeditor.js"></script>
    <script>

        var editor = '';
        $(document).ready(function () {
            editor = CKEDITOR.replace('Description');
        });
    </script>
}

