@model IceCreamClient.Models.BookOrder
@using Newtonsoft.Json.Linq
@using Newtonsoft.Json
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    string json = HttpContextAccessor.HttpContext.Session.GetString("cart");
    List<Cart> listCart = new List<Cart>();
    double? total_money = 0;
    if (json != null)
    {
        JArray jsonResponse = JArray.Parse(json);

        foreach (var item in jsonResponse)
        {
            JObject cartResult = (JObject)item;
            listCart.Add(JsonConvert.DeserializeObject<Cart>(cartResult.ToString()));
        }
    }
}
@{
    ViewData["Title"] = "Index";
}

<!--Page Title-->
        <section class="page-title centred" style="background-image: url(/assets/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Checkout</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a asp-action="Index" asp-controller="Home">Home</a></li>
                        <li>Checkout</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->
        <!-- checkout-section -->
        <section class="checkout-section">
            <div class="container">
                <form asp-controller="Checkout" asp-action="Checkout" method="post" class="billing-form" id="CheckoutForm">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12 left-column">
                        <div class="inner-box">
                            <div class="billing-info">
                                <h4 class="sub-title">Billing Details</h4>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label>Full Name*</label>
                                            <div class="field-input">
                                                <input asp-for="Fullname">
                                                <span asp-validation-for="Fullname" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label>Email Address*</label>
                                            <div class="field-input">
                                                <input asp-for="Email">
                                                <span asp-validation-for="Email" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label>Phone Number*</label>
                                            <div class="field-input">
                                                <input asp-for="Phone">
                                                <span asp-validation-for="Phone" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                            <label>Address*</label>
                                            <div class="field-input">
                                                <input asp-for="Address">
                                                <span asp-validation-for="Address" class="text-danger"></span>
                                            </div>
                                        </div>                                      
                                    </div>
                            </div>                          
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 right-column">
                        <div class="inner-box">
                            <div class="order-info">
                                <h4 class="sub-title">Your Order</h4>
                                <div class="order-product">
                                    <ul class="order-list clearfix">
                                        <li class="title clearfix">
                                            <p>Product</p>
                                            <span>Quantity</span>
                                        </li>
                                        @if(listCart.Count > 0)
                                        {
                                            foreach(Cart cart in listCart){
                                            total_money += cart.Price * cart.Quantity;
                                        <li>
                                            <div class="single-box clearfix">
                                                <img src="~/images/book/@cart.BookIceCream.Image" alt="">
                                                <h6>@cart.BookIceCream.Title</h6>
                                                <span>@cart.Quantity</span>
                                            </div>
                                        </li>        
                                            }
                                        <li class="title clearfix">
                                            <p>Total</p>
                                            <span>$@total_money</span>
                                        </li>
                                        }
                                                                       
                                    </ul>
                                </div>
                            </div>
                            <div class="payment-info">
                                <h4 class="sub-title">Payment Proccess</h4>
                                <div class="payment-inner">
                                    <div class="btn-box">
                                        @*<button class="theme-btn-one" type="submit">Register</button>*@
                                        <!-- PAYPAL SDK -->
                                        <script src="https://www.paypal.com/sdk/js?client-id=AdYe9xwruxrrU34VISxYUrZxQzKszMHROVUfatDVQUEIAWDUNsoAulmcXZTMsJlUXHzXj-V4gFaPtZHt"></script>
                                        <div id="paypal-button-container"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </section>
        <!-- checkout-section end -->

        <script>
  paypal.Buttons({
    createOrder: function(data, actions) {
      // This function sets up the details of the transaction, including the amount and line item details.
      return actions.order.create({
        purchase_units: [{
          amount: {
            value: @{@total_money}
          }
        }]
      });
    },
    onApprove: function(data, actions) {
      // This function captures the funds from the transaction.
      return actions.order.capture().then(function(details) {
        document.getElementById('CheckoutForm').submit();
        // This function shows a transaction success message to your buyer.
        alert('Transaction completed by ' + details.payer.name.given_name);
      });
    }
  }).render('#paypal-button-container');
  //This function displays Smart Payment Buttons on your web page.
</script>

